<app-header></app-header>
<div class="container pagination-centered">
  <div class="card w-75 main-center shadow rounded">
    <div class="card-header">
      {{role}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Cadastro</h5>
      <form (ngSubmit)="onSubmit()"
            novalidate="novalidate"
            [formGroup]="form">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Nome de usuário</label>
              <input type="text" class="form-control" formControlName="NomeUsuario" maxlength="12"/>
            </div>
          </div>
          <div class="col-md-8" *ngIf="roleRoute != 'profissional'">
            <div class="form-group">
              <label>Razão Social</label>
              <input type="text" class="form-control" formControlName="RazaoSocial" maxlength="50"/>
            </div>
          </div>
          <div class="col-md-8" *ngIf="roleRoute == 'profissional'">
            <div class="form-group">
              <label>Nome</label>
              <input type="text" class="form-control" formControlName="Nome" maxlength="50" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" *ngIf="roleRoute != 'profissional'">
            <div class="form-group">
              <label>CNPJ</label>
              <input type="text" class="form-control" formControlName="CNPJ" cnpj/>
            </div>
          </div>
          <div class="col-md-4" *ngIf="roleRoute == 'profissional'">
            <div class="form-group">
              <label>Número do Celular</label>
              <input type="text" class="form-control" formControlName="Celular"/>
            </div>
          </div>
          <div class="col-md-4" *ngIf="roleRoute == 'profissional'">
            <div class="form-group">
              <label>CPF</label>
              <input type="text" class="form-control" formControlName="CPF"/>
            </div>
          </div>
          <div class="col-md-4" *ngIf="roleRoute == 'profissional'">
            <div class="form-group">
              <label>RG</label>
              <input type="text" class="form-control" formControlName="RG" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>E-mail</label>
              <input type="text" class="form-control" formControlName="Email" maxlength="30"/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Senha</label>
              <input type="password" class="form-control" formControlName="Senha" maxlength="12"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="button" [routerLink]="[loginRoute]" class="btn btn-light btn-block">Voltar</button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-block">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
