<app-header></app-header>
<div class="container pagination-centered">
  <div class="card main-center shadow rounded">
    <div class="card-header">
      {{role}}
    </div>
    <div class="card-body">
      <div class="alert alert-warning" role="alert">
        Um e-mail com instruções de recuperação de senha foi enviado para o seu endereço cadastrado.
      </div>
      <h5 class="card-title">Recuperar Senha</h5>
      <form (ngSubmit)="onSubmit()"
            novalidate="novalidate"
            [formGroup]="form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Nova Senha</label>
              <input type="password" class="form-control" formControlName="Senha"/>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Confirmar Senha</label>
              <input type="password" class="form-control" formControlName="ConfirmacaoSenha">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <button type="submit" class="btn btn-success btn-block">Alterar Senha</button>
          </div>
        </div>
        </form>
    </div>
  </div>
</div>
